@import url('https://fonts.googleapis.com/css?family=Calistoga|Roboto|Satisfy&display=swap');


#beer-info{
    padding: 6%;
   
}
.beer-label{
    background-color: #fff;
    margin-left: 10%;
    padding: 2%;
}

.abvTxt{
    font-weight: bold;
    color: rgb(48, 48, 48);
    background-color:lightgray;
}
.styleTxt{
    font-weight: bold;
    color: rgb(48, 48, 48);
    background-color: lightgray;
}
.isRetTxt{
    font-weight: bold;
    color: rgb(48, 48, 48);
    background-color: lightgray;
}
/* .nameTxt{
    font-weight: bold;
    color: orangered;
} */
.desc{
    /* background-color: rgb(71, 71, 71); */
    color: rgb(59, 59, 59);
    padding-left: 3%;
    padding-right: 3%;
    font-family: 'Roboto', sans-serif!important;
    font-size: 20px;
}
#name{
    color: orangered;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Calistoga', cursive;
    

}
.prodDesc{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Calistoga', cursive;

}

hr{
    border-style: solid;
    border-color: rgb(53, 53, 53);
    /* border-width: 2px; */
}
#abv{
    border: solid lightgray 1px;
}

#isRetired{
    border: solid lightgray 1px;

}
#beerstyle{
    border: solid lightgray 1px;
}

