@import url('https://fonts.googleapis.com/css?family=Calistoga|Roboto|Satisfy&display=swap');
* {
    /* margin: 0 !important; */
    box-sizing: border-box;
}

html {
    height: 100vh;
}

.container {
    padding: 0 !important;
    width: 100% !important;
    height: 100vh !important;
}

.header {

    width: 100% !important;
}

.logo {
    width: 3rem;
    margin-right: 1rem !important;
}

#accountStein {
    width: 90vw;
}

#landing {
    width: 100%;
    background-image: url("../img/beer-flight-hero-landing.jpg");
    height: 90vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 5rem !important;
    text-align: center;
}

#beer-landing {
    width: 100vw !important;
}

#label {
    width: 20rem !important;
}

#account {
    padding: 3rem 4rem;
    height: 100% !important;
    background-color: #64798a;
}
#logoNav{
    font-family: 'Calistoga', cursive;
    font-size: 30px;

}
#logo{
    font-family: 'Calistoga', cursive;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 50px;
}

#account-info {
    display: flex !important    ;
    flex-flow: column !important;
    padding: 3rem !important;

}

#welcomeUser {
    font-size: 2.2rem;
    margin-bottom: 3rem;
    font-family: "Calistoga", cursive;
}

#favTitle {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
}

#beerFavs {
    font-size: 1.5rem;
}

/* #beer-info{
    padding-left: 5%;
   
} */
.beer-label{
    background-color: #fff;
    /* margin-left: 10%; */
    padding-right: 6%;
    padding-left: 10%;
    padding-top: 2%;
}

.abvTxt{
    font-weight: bold;
    color: rgb(48, 48, 48);
    background-color:lightgray;
}
.styleTxt{
    font-weight: bold;
    color: rgb(48, 48, 48);
    background-color: lightgray;
}
.isRetTxt{
    font-weight: bold;
    color: rgb(48, 48, 48);
    background-color: lightgray;
}
.beerStyleDescTxt{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Calistoga', cursive;

}

.desc{
    color: rgb(59, 59, 59);
    padding-left: 6%;
    padding-right: 6%;
    font-family: 'Roboto', sans-serif!important;
    font-size: 20px;
}
#name{
    color:#FA743E;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Calistoga', cursive;
    text-align: center;
    padding-top: 2%;

}
.prodDesc{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Calistoga', cursive;

}

hr{
    border-style: solid;
    border-color: rgb(53, 53, 53);
    
}

.infoText {
    border: solid lightgray 1px;
}

#searchBtn{
    color: white;
    background-color: #FA743E;
    border: none;
    border-radius: 5px;
}
/* Fav Heart button */
#heartLike{
    font-size: 25px;
    background: none;
    border: none;
    
}
.beerLabels{
    max-width: 20rem;
}
.row{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    margin-top: 5%;
    margin-right: 2%;
    justify-content: space-evenly;
}

@media screen and (min-width: 800px){
    #label {
        width: 60rem !important;
    }

    .beer-label {
        width: 10rem;
        padding: 0 !important;
        
    }
    .content{
        background-color: white;
        width: 85%;
        margin: 7%;
        margin-top: 3%;
        box-shadow: 3px 3px 4px #000000;
    }
    #container{
        margin: 0!important;
        padding: 0!important;
        display: flex;
        width: 100%;
        flex-direction: row;
        /* align-items: center; */
    }
    body{
        background-color:rgb(255, 185, 80);
    }
    .row{
        margin-left: -10%;
        margin-right: 6%;
    }
    #heartLike{
        /* padding-left:10%; */
        
    } 
    .desc{
        padding-left:13%;
        padding-right: 3%;
        padding-bottom: 3%;}
    #name{
        padding-top: 10%;
    }
    /* #beer-info{
        padding-left: 11%;
    } */


}
