@import url('https://fonts.googleapis.com/css?family=Calistoga|Roboto|Satisfy&display=swap');
* {
    /* margin: 0 !important; */
    box-sizing: border-box;
}

html {
    height: 100vh;
}

.container {
    padding: 0 !important;
    width: 100% !important;
    height: 100vh !important;
}

.header {

    width: 100% !important;
}

.logo {
    width: 3rem;
    margin-right: 1rem !important;
}

#accountStein {
    width: 90vw;
}

#landing {
    width: 100%;
    background-image: url("../img/beer-flight-hero-landing.jpg");
    height: 90vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 5rem !important;
    text-align: center;
}

#beer-landing {
    width: 100vw !important;
}

#label {
    width: 20rem !important;
}

#account {
    padding: 3rem 0;
    height: 100% !important;
    background-color: #64798a;
}

/* .footer {
    margin-top: 1rem;
    position: fixed;
    bottom: 0;
    background-color: #333A40;
    color: white;
} */
/* Ale style */



/* .logo{
    font-family: 'Calistoga', cursive; 
} */

#logoNav{
    font-family: 'Calistoga', cursive;
    font-size: 30px;

}
#logo{
    font-family: 'Calistoga', cursive;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 50px;
}

#beer-info{
    padding: 6%;
   
}
.beer-label{
    background-color: #fff;
    /* margin-left: 10%; */
    padding-right: 10%;
    padding-left: 10%;
}

.abvTxt{
    font-weight: bold;
    color: rgb(48, 48, 48);
    background-color:lightgray;
}
.styleTxt{
    font-weight: bold;
    color: rgb(48, 48, 48);
    background-color: lightgray;
}
.isRetTxt{
    font-weight: bold;
    color: rgb(48, 48, 48);
    background-color: lightgray;
}
/* .nameTxt{
    font-weight: bold;
    color: orangered;
} */
.desc{
    /* background-color: rgb(71, 71, 71); */
    color: rgb(59, 59, 59);
    padding-left: 3%;
    padding-right: 3%;
    font-family: 'Roboto', sans-serif!important;
    font-size: 20px;
}
#name{
    color:#FA743E;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Calistoga', cursive;
    

}
.prodDesc{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Calistoga', cursive;

}

hr{
    border-style: solid;
    border-color: rgb(53, 53, 53);
    /* border-width: 2px; */
}
.infoText {
    border: solid lightgray 1px;
}

.searchBtn{
    color: white;
}
/* Fav Heart button */
#heartLike{
    font-size: 30px;
}

